* {
    user-select: none;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
}

.player {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    background: black;
    border-radius: 10px;
}

.object {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
}

.box {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.particle {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
}

.particle.fadeout {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 500ms;
}
